body {
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;;
}

#content {
	width: 400px;
	margin: 0.75em;
}

a {
	text-decoration: none;
	color: #326891;
}

a:hover {
	text-decoration: underline;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid #D9D9D9;
}

ul {
	margin: 1em;
	padding-left: 0;
	list-style: none;
}

li {
	line-height: 1.2em;
}

ul.styled {
	margin: 0.25em 0 0.25em 1em;
}

ul.styled li:before {
	content:"•";
	font-size: 0.9em;
	margin-right: 0.5em;
}

ul.styled li {
	text-indent: -0.75em;
}

ul.section_links {
	margin-top: 0;
	margin-bottom: 0;
}

.section_links li a {
	line-height: 1.5em;
}

ul.tab_list {
	margin: 0;
	padding: 0;
}

ul.tab_list li {
	display: inline-block;
	background-color: #f0f4f5;
}

ul.tab_list li:first-child {
	border-left: 1px solid;
	border-color: #D9D9D9;
}

.tab_list li a {
	display: block;
	border: solid;
	border-width: 1px 1px 0 0;
	border-color: #D9D9D9;
	padding: 0.25em 0.75em;
	text-transform: uppercase;
	margin-bottom: -1px;
}

.tab_list li a.selected {
	background-color: white;
}

.content_container {
  border: 1px solid #D9D9D9;
  padding: 0.5em;
}

.content_panel {
	display: flex;
}

.content_footer {
	text-align: center;
	padding: 0.2em 0 0.4em 0;
}

.top_panel {
	height: 200px;
}

.article_container {
	width: 240px;
	padding-right: 0.8em;
}

.subsection_title {
	text-transform: uppercase;
	margin: 0;
	margin-bottom: .25em;
}

.article_title {
	font-size: 1.3em;
	line-height: 1.3em;
}

.article_title, .article_description {
	font-family: georgia, "times new roman", times, serif;
	margin: 0;
}

.article_description {
	font-size: 1.15em;
}

.article_img {
	margin: 1em;
	margin-right: 0;
	float: right;
	height: 100px;
	width: 100px;
}

.section_container {
	width: 200px;
}

.advert_img_lrg {
	width: 210px;
}

.advert_img_container {
	width: 200px;
	margin-right: 1em;
}

.advert_img_sm {
	height: 50px;
	margin: 0.5em;
}
